        body, p, h1, h2, h3, a {
            margin: 0;
            padding: 0;
            line-height: 1;
            font-family: sans-serif;
        }
        *, *:before, *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .slide {
            font-family:sans-serif;
            text-align:center;
        }
        .slide h2 {
            font-size:40px;
            padding-bottom: 10px;
        }
        .slide h1, h2 {
            letter-spacing:-.05px;
            margin: 0 0 0 20px;
            font-weight: lighter;
        }
        .slide.title h1 {
            font-size: 24px;
            color: #333;
        }
        .slide.title {
            background-repeat: no-repeat;
        }
        .slide a {
            border:none;
            color:black;
            background:#ddd;
            padding:.25px .5px;
            border-radius:.25px;
        }
        .slide code {
            text-align:left;
            font-size:20px;
            font-family:monospace;
            padding:1px 2px;
        }
        .slide a {
            border:none;
            background-color: #eee;
            text-decoration: none;
            border-radius:.25px;
        }
        .slide code {
            text-align:left;
            font-size:20px;
            font-family:monospace;
            padding:1px 2px;
        }
        .editBottom p {
            text-align: center;
        }
        .editBottom a {
            position: absolute;
            bottom: 0;
            text-align: center;
        }
        img.full {
            width: 100%;
        }
        img.half {
            width: 40%;
        }
        .slide ul {
            text-align: left;
        }
        .slide > iframe {
            width: 100%;
            height: 70%;
            overflow: hidden;
        }